/* RESET */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END OF RESET */

/* Debug */


/* END OF Debug */

/* GENERAL RULES */
body {
  font-family: "Montserrat", sans-serif;
}

body a {
  text-decoration: none;
  color: inherit;
}

body li {
  list-style-type: none;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float {
  float: left;
}



/* END OF GENERAL RULES */

/******************* MAIN SECTION ****************/

main{
  height: calc(100vh - 110px);
  background-color: white;
}

main .main_wrapper{
  background-color: red;
  height: 100%;
  width: calc(100% - 300px);
  float: right;

}


/* LATERAL NAVIGATION */
nav{
  height: 100%;
  width: 300px;
  background-color: black;
}
/* END OF LATERAL NAVIGATION */

/* TOP MAIN - UPGRADE */
.top_main{
  height: 100px;
  background: blue;
}

/* TOP MAIN - UPGRADE */

/* MENU */
.menu{
  height: 100px;
  background-color: yellow;
}
/* MENU */

/* MAIN CONTENT */
.main_content{
  width: 100%;
  background-color: purple;
}
.main_wrapper{
  overflow: scroll;
}

.main_content{
  z-index: -1;
}
/* END OF MAIN CONTENT */




/******************* END OF MAIN SECTION *************/


/******************** FOOTER SECTION **************/
footer{
  background-color: grey;
  height: 110px;
  z-index: 10;
}
