
/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END OF RESET */


/* GENERAL RULES */
body {
  color: #696969;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

body a {
  text-decoration: none;
  color: inherit;
}

body li {
  list-style-type: none;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float{
  float: left;
}

/* END OF GENERAL RULES */


/* GENERAL EFFECTS  AND ANIMATIONS*/
/* Rounded cover */
.rounded_cover{
  border-radius: 50%;
}

.square_cover{
  border-radius: 10px;
}

/* Scaling Button Upgrade and Play button*/
.btn_upgrade:hover{
  transform: scale(1.3, 1.3);
}

.fa-play-circle{
  transition-duration: 0.2s;
  transition-timing-function: step-end;
}

.fa-play-circle:hover{
  transform: scale(1.2, 1.2);
}

/* Links on hover */
.sidebar a,
nav ul a,
.left_player ul a{
  transition: 0.4s;
  transition-delay:0.02s;
}

.sidebar a:hover,
nav ul a:hover,
.left_player ul a:hover{
  color: #ffffff;
  font-weight: 900;
}

/* Navigation highlight */
nav ul li {
  position: relative;
}

nav ul li a::after{
  content: "";
  background-color: #b0fa30;
  bottom: 13%;
  position: absolute;
  left: 38%;
  height: 4px;
  width: 25%;
  border-radius: 8px;
  display: none;
}
nav ul li:first-child a::after{
  display: block;
}

nav ul li:hover a::after{
  display: block;
}

/* Layover */
.personal_music .album_cover_container .layover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.popular .layover{
  border-radius: 50%;
}

.personal_music .album_cover_container{
  margin: 10px;
  position: relative;
}

.personal_music .album_cover_container img{
  width: 100%;
  height: 100%;
}
.past p{
  font-size: 13px;
  padding: 0 10px;
  padding-bottom: 30px;
}

.past .album_cover_container{
  padding: 0 15px;
}

/* Play Button */
.album_cover_container .fa-play-circle{
  font-size: 4.5rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 1;
  display: none;
}
.personal_music .album_cover_container:hover .layover,
.album_cover_container:hover .fa-play-circle{
  display: block;
}

/* Indicators on Player */
.time,
.volume{
  position: relative;
}

.indicator{
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  margin-right: -6px;
  border-radius: 50%;
  position: absolute;
}

.time .indicator{
  left: 27%;
  top: 2%;
  display: none;
}

.volume .indicator{
  left: 50%;
  top: 5%;
  display: none;
}

.time:hover .indicator,
.volume:hover .indicator{
  display: block;
}

.bottom .time:hover .start::after,
:hover.fa-volume-up::after{
  background-color: #b0fa30;
}

/* Media Queries */
@media all and (max-width: 991px){

  .volume .indicator{
    left: 60%;
    top: 5%;
    display: none;
  }

}

/* END OF GENERAL EFFECTS AND ANIMATIONS*/


/******************* MAIN SECTION ****************/

/* SIDEBAR */
.sidebar_container{
  height: 100%;
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
}

.sidebar{
  background-color: #000000;
  height: calc(100vh - 110px);
  width: 300px;
  overflow: auto;
}

/* Logo */
.logo img{
  width: 80%;
  padding-top: 20px;
}

.small_logo{
  display: none;
}

/* Menu */
.sidebar ul li img{
  width: 30px;
  padding-right: 5px;
  vertical-align:middle;
}

.menu >*{
  min-height: 50px;
  overflow: auto;
}
.menu ul li{
  padding: 7px 20px;
}
.main_menu li:first-child{
  border-left: 2px solid #b0fa30;
  color: #ffffff;
}

/* Playlist */

.playlist >*{
  padding: 0 20px
}

.playlist{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: calc(100% - 100px);
}

.playlist h3{
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
}

.playlist_item{
  overflow: auto;

}

.playlist_item li{
  padding: 8px 0px;
}

.plus_btn{
  display: inline-block;
  text-align: center;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  background-color: #a3a3a3;
  margin-right: 10px;
}

.plus{
  margin: 10px 0;
  line-height: 50px;
}


.bottom_sidebar{
  height: 100px;
}

.bottom_sidebar ul li{
  padding-bottom: 8px;
  width: 240px;
}
.bottom_sidebar ul li:last-child{
  color: #ffffff;
  padding-top: 20px;
  border-top: 1px solid #717171
}

/* MEDIA QUERIES */
/* MD */
@media (min-width: 992px) and (max-width: 1200px){
  .logo img{
    width: 60%;
  }
  .small_logo{
    display: none
  }
}

/* SM */
@media (min-width: 769px) and (max-width: 991px) {
  .logo img{
    width: 50%;
  }
  .small_logo{
    display: none
  }
}

/* XS */
@media all and (max-width: 768px){

  .bottom_sidebar{
    padding-top: 300px;
  }

  .bottom_sidebar ul li{
    padding-bottom: 8px;
    width: 70px;
  }

  .sidebar{
    margin-top: 0;
    background-color: #000000;
    height: calc(100vh - 110px);
    width: 100px;
    overflow: auto;
  }
  .small_logo{
    display: block;
    width: 80%;
    margin:0 10px;
  }

  .logo,
  .sidebar a,
  .playlist{
    display: none
  }
  .main_menu li:first-child{
    border-left: none;
  }

}
/* END OF MEDIA QUERIES */

/* END OF SIDEBAR */


/* RIGHT SIDE */
.right_side{
  height:calc(100vh - 110px);
  width: calc(100% - 300px);
}

/* Top Main - Upgrade */
.upgrade{
  height: 100px;
  background-color: #080b12;
  line-height: 100px;
}

.btn_upgrade{
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 250px;
  height: 50px;
  line-height: 50px;
  border-radius: 20px;
  position: fixed;
  top: 25px;
  right: 0%;
  transition-duration: 0.2s;
  transition-timing-function:step-start;
}

/* MAIN CONTENT */
.main_content{
  height: calc(100vh - 210px);
  background-color: #141922;
  overflow: auto;
  padding-left: 30px;
}

/* Navigation */
nav{
  text-align: center;
  width: 90%;
  margin: auto;
}
nav ul li{
  padding: 20px 10px;
  text-transform: uppercase;
  display: inline-block;
}

/* Personal Music */
.music_albums .title{
  padding: 40px 0;
}

.music_albums .title p {
  padding-top: 20px;
}
.music_albums .title h2,
.personal_music h4
{
  font-size: 40px;
  color: #ffffff;
  font-weight: 900;
}

.personal_music{
  width: calc((100% / 6 ) - 10px);
  text-align: center;
}

.personal_music img{
  width: 90%;
}
/* .personal_music >*{
  padding-bottom: 15px;
} */

.personal_music h4{
  padding: 15px 0;
  font-size: 20px;
}

/* END OF MAIN CONTENT */

/* MEDIA QUERIES */
/* MD */
@media (min-width: 992px) and (max-width: 1200px){
  nav{
    width: 80%;
  }

  .personal_music{
    width: calc((100% / 4 ) - 10px);
    text-align: center;
  }

  #recently .personal_music:nth-child(-n+4){
    height: 370px;
  }

}

/* SM */
@media (min-width: 769px) and (max-width: 991px) {
  nav{
    width: 70%;
  }

  .personal_music{
    width: calc((100% / 2 ) - 50px);
    text-align: center;
  }

}

/* XS */
@media all and (max-width: 768px){
  .right_side{
    height:calc(100vh - 110px);
    width: calc(100% - 100px);
  }
  nav{
    width: 90%;
  }

  .personal_music{
    width: calc((100% / 2 ) - 50px);
    text-align: center;
  }
}
/* END OF MEDIA QUERIES */

/******************* END OF MAIN SECTION *************/


/******************** FOOTER SECTION **************/
footer{
  height: 110px;
  background-color: #282828;
  color: #ffffff;
}

.footer_wrapper{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* LEFT PLAYER */
.left_player{
  color: #7b7b7b;
}
.folder_heart{
  width: 5px;
  height: 40px;
  display: inline-block;
}

.left_player img{
  width: 60px;
  vertical-align:bottom;
  padding: 0 5px;
}

.left_player ul li,
.right_player ul li,
.bottom ul li{
  display: inline-block;
}

.song{
  padding-right: 30px;
}

.song p:first-of-type{
  color: #ffffff;
}

.fa-heart{
  padding-right: 10px;
}
/* End of LEFT PLAYER */

/* CENTRAL PLAYER */

.central_player{
  text-align: center;
}

.central_player >*{
  padding: 10px 0;
}

.central_player .top ul li{
  padding: 0 15px;
  font-size: 25px;
  display: inline-block;

}

.player_btn .fa-play-circle{
  font-size: 40px;
}


/* Timeline bars */
.bottom .time .start::after,
.fa-volume-up::after,
.end::before,
.bar:before{
  display: inline-block;
  content: "";
  height: 5px;
  width: 100px;
  margin: 0px 0px;
  background-color: #ffffff;
  border-radius: 5px;
  vertical-align: middle;

}

.end::before{
  background-color: #5a5a5a;
  width: 300px;
  margin-right: 10px;
}

.bottom .time .start::after{
  margin-left: 10px;
  width: 110px;
  margin-right: -5px;
}


/* End of CENTRAL PLAYER*/

/* RIGHT PLAYER */
.right_player ul li{
  padding: 0 10px;
}

/* Volume Bar */
.fa-volume-up::after{
  width: 50px;
  margin-left: 20px;
  margin-right: 0px;

}

.bar:before{
  background-color: #5a5a5a;
  width: 150px;
  margin-left: -30px;
  margin-bottom: 2px;
}
/* End of RIGHT */

/* MEDIA QUERIES */


/* SM */

/* Left Player */
@media (min-width: 769px) and (max-width: 991px) {
  .folder_heart{
    width: 10px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
  }

  /* Central Player */
  .bottom .time .start::after,
  .fa-volume-up::after,
  .end::before,
  .li:before{
    width: 40px;
  }

  .end::before{

    width: 150px;
  }
  .fa-play-circle{
    font-size: 40px;
  }

  /* Right Player */

  .bar:before{
    width: 80px;
  }
}

/* XS */
@media all and (max-width: 768px){
  /* Left player */
  .folder_heart{
    width: 10px;
    height: 40px;
    display: inline-block;
  }

  .left_player .song{
    padding-right: 10px;
    width: 80px;
  }

  /* Central Player */
  .bottom .time .start::after,
  .fa-volume-up::after,
  .end::before,
  .li:before{
    width: 15px;
  }

  .end::before{
    width: 100px;
  }

  .player_btn i{
    font-size: 15px;
  }
  .player_btn .fa-play-circle{
    font-size: 25px;
  }

  /* Right Player */

  .bar:before{
    width: 50px;
  }
  .right_player ul li:nth-child(-n+3){
    padding-left: 0;
  }

}
/* END OF MEDIA QUERIES */

/*********************** END OF FOOTER SECTION *****************/
