*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END OF RESET */

/* Debug */


/* END OF Debug */

/* GENERAL RULES */
body {
  color: black;
  font-family: "Montserrat", sans-serif;
}

body a {
  text-decoration: none;
  color: inherit;
}

body li {
  list-style-type: none;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float {
  float: left;
}

/* END OF GENERAL RULES */


/******************* MAIN SECTION ****************/



/* SIDEBAR */
.sidebar{
  background-color: salmon;
  height: calc(100vh - 110px);
  width: 300px;
  overflow: auto;

}

/* END OF SIDEBAR */

.upgrade{
  height: 100px;
  background-color: violet;

}

.right_side{
  height:calc(100vh - 110px);
  width: calc(100% - 300px);
}

.content{
  height: calc(100vh - 210px);
  background-color: yellow;
  overflow: auto;

}

/******************* END OF MAIN SECTION *************/

/******************** FOOTER SECTION **************/
footer{
  height: 110px;
  background-color: cyan;
}
